<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caloriesapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaloriesApp">

        <activity android:name=".A_info_3"></activity>
        <activity android:name=".Activity_Height" />
        <activity android:name=".A_info_4" />
        <activity android:name=".A_info_2" />
        <activity android:name=".A_info_1" />
        <activity android:name=".A_mucdich">

        <activity android:name=".activities.InitializeActivity"></activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>